@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100;400&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  margin-top: 150px;
  background: #dee1d7;
}
#app {
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2f3f70;
}
a,
a:visited {
  color: #404c71;
}
.container {
  margin: 50px auto;
  max-width: 960px;
}

h1, h2{
  text-align: left;
  font-family: 'Grandstander', cursive;
  font-size: 1.5em;
}

h1{
  font-size: 2.5rem;
  margin-block-start: 100px;
  line-height: 1.1;
}

/* About */
.about img {
  max-width: 14rem;
  margin-inline: 2px;
  border-radius: 14px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  object-fit: contain;
}

.about img:hover{
  opacity: 0.8;
}


.about .destinations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .about .destinations {
      grid-template-columns: repeat(1, 1fr);
  }

  .destinations img{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

/* Navigation */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #dee1d7;;
  background: #2f3f70;
  border-bottom: 5px solid #f96e8a;
  z-index: 2;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-inline-end: 1.5rem;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: #dee1d7;;
  transition: 0.2 ease color;
}

.nav-links a:hover {
  color: #fff;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* Destination Details */
.destination-details {
  text-align: left;
  display: flex;
  gap: 30px;
  
}
.destination-details img {
  width: 100%;
  max-width: 27rem;
  object-fit: cover;
  border-radius: 6px;
  border: 3px solid #f96e8a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.destination-url a{
  display: flex;
  justify-content: end;
  text-transform: uppercase;
}

/*Experiences*/
.experiences {
  margin-block: 60px 30px;
  border-top: 1px solid #dee1d7;;
  box-shadow: 0px -1px #fbfbfb;
}

.experiences .cards {
  display: flex;
  gap: 20px;
  text-align: center;
}
.experiences img {
  width: 100%;
  max-width: 18.7rem;
  object-fit: contain;
  display: block;
}

.experience-show{
  display: flex;
  text-align: left;
  gap: 30px;
}
.card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.card .card__text {
  background: #2f3f70;
  color: #dee1d7;;
  display: block;
  border-top: 2px solid #f96e8a;
  padding: 10px;
}

.go-back {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  
}

.btn{
  background-color:#2f3f70;
  color: #dee1d7;
  padding: 10px;
  border-radius: 5px;
  border:none;
}

.fade-nested {
  transition: opacity 2.5s ease;
}

.fade-enter-active .fade-nested {
  opacity: 0;
}